= form_for @snippet do |f|
  .form-group
    = f.label :name
    = f.text_field :name
  .form-group
    = f.label :language
    = f.collection_select :language_id, Language.all, :id, :name
  .form-group
    = f.label :content
    = f.text_area :content, class: 'code'
  .form-group
    = f.label :public
    = f.check_box :public
  .form-group
    = f.submit "Create Snippet"
