= @snippet.tag_list
= form_for @snippet do |f|
  .form-group
    = f.label :name
    = f.text_field :name, placeholder: 'Optional'
  .form-group
    = f.label :description
    = f.text_area :description, class: 'text', placeholder: 'Optional'
  .form-group
    = f.label :language
    = f.collection_select :language_id, Language.all, :id, :name
  .form-group
    = f.label :content
    = f.text_area :content, class: 'code'
  .form-group
    = f.label :tags
    = f.text_field :tag_list
  .form-group
    %p Private snippets are only visible to those with a link to them.
    = f.button "Make it Public",  type: 'submit', name: 'snippet[public]', value: 1, class: 'blue button'
    = f.button "Make it Private", type: 'submit', name: 'snippet[public]', value: 0, class: 'green button'
  
