.snippet-box
  %h3
    %span.username= link_to snippet.user.username, snippet.user
    = '/'
    = link_to snippet.name, snippet
  %p.details
    #{time_ago_in_words(snippet.created_at)} ago
    - unless snippet.public?
      ·
      %span.private Private
    · #{snippet.comments.count} Comments
  %p= snippet.description
  = preserve raw snippet.pretty_content
%ul.tags
  - snippet.tags.each do |tag|
    %li
      %a{:href => '/snippets/tagged/' + tag.name} #{tag.name}
%br
%hr
