.row.clearfix
  .container
    %h2
      %span{style: 'color: #aaa'} #{@snippet.user.username} /
      = @snippet.name
    - if signed_in? && @snippet.user == current_user
      %p
        = link_to 'Delete', @snippet, method: 'delete', class: 'red button'
        = link_to 'Edit', edit_snippet_path(@snippet), class: 'green button'
    %h4= @snippet.language.name
    %p= @snippet.description

.row.clearfix
  .container
    %table.code-table
      %tr
        %td.code
          - 1.upto(@snippet.content.split("\n").length) do |n|
            = n
            %br
        %td
          = preserve raw @snippet.pretty_content
