<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>
      <%= @user.username %> posted a comment on a
      <%= link_to 'snippet', url_for(@comment.snippet) %> that you've discussed before.
    </h2>
    <p>
      <strong>Preview:</strong><br>
      <blockquote>
        <%= raw @comment.pretty_content %><br><br>
        <cite>― <%= @user.username %></cite>
      </blockquote>
    </p>
    <p>
      To respond, just follow <%= link_to 'this link', url_for(@comment.snippet) %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>
