<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>
      <%= @comment.user.username %> posted a comment on a
      <%= link_to 'snippet', @comment.snippet %> that you've discussed before.
    </h2>
    <p>
      <strong>Preview:</strong><br>
      <blockquote>
        <%= @comment.content %><br><br>
        <cite>― <%= @comment.user.username %></cite>
      </blockquote>
    </p>
    <p>
      To respond, just follow <%= link_to 'this link', @comment.snippet %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>
