- if signed_in?
  .navbar.clearfix
    .column.half
      %p
        = link_to "Snippets", snippets_path
        = link_to "Languages", languages_path
        = link_to "Sign Out", sign_out_path, via: :delete
    .column.half.nav
      %p
        = link_to "Your Snippets", current_user
        = link_to "Create a Snippet", new_snippet_path, class: 'clear-button'
        .floating-logo Agora
- else
  .hero.clearfix
    .container
      %h1.logo= link_to "Agora", root_url
      %p We're making sharing code easier than ever before.
      %p= link_to "Sign In with GitHub", "/auth/github", class: 'clear-button github-link'
      %p.small= link_to 'Use Your Email Instead', sign_up_url
