- if signed_in?
  .navbar.clearfix        
    .column.half
      %p
        = link_to "Languages", languages_path
        = link_to "Sign Out", sign_out_path, via: :delete
    .column.half.nav
      %p
        You're signed in as
        %strong= current_user.username
- else
  .hero.clearfix
    .container
      %h1.logo= link_to "Agora", root_url
      %p Sharing code has never been more fun
      %p
        = link_to "Sign In", sign_in_path
        |
        = link_to "Sign Up", sign_up_path