- if signed_in?
  .navbar.clearfix
    .column.half
      %p
        = link_to "Snippets", snippets_path
        = link_to "Languages", languages_path
        = link_to "Sign Out", sign_out_path, via: :delete
    .column.half.nav
      %p
        = link_to "Create a Snippet", new_snippet_path, class: 'clear-button'
        .floating-gravatar= gravatar_for current_user
- else
  .hero.clearfix
    .container
      %h1.logo= link_to "Agora", root_url
      %p Sharing code has never been easier.
      %p= link_to raw("Sign In with GitHub"), "/auth/github", class: 'clear-button github-link'
